body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #eee;
}

@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
      display: block;
  }
}

.sidenav {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.btn-option {
  width: 80%;
}

.sidenav .divider {
  margin: 0;
}

.footer {
  margin-top: auto;
  line-height: inherit !important;
  font-size: 0.8em;
}

.flaticon {
  margin-bottom: 10px;
}

.link {
  color: inherit;
  text-decoration: underline;
}

.canvas-panel {
  height: calc(100% - 50px);
  margin: 25px;
  border: 1px solid #bbb;
  background-color: white;

  cursor: crosshair;
}

#hidden-canvas {
  display: none;
}

.tab-link {
  display: block !important;
}