.project-container {
    display: grid;

    grid-template-columns: auto 1fr 1fr;
    gap: 1%;

    height: 600px;
    width: 1200px;

    margin: 1% 2%;
    padding: 1% 2%;

    border: 1px solid black;

    align-items: center;
}

.panel-section {
    margin: 0 10px;
    padding: 10px 10%;
    border: 1px solid black;

    display: flex;
    flex-direction: column;

    height: auto;
}

.btn {
    padding: 5px 0;
}

.line {
    display: block;
    border-top: 1px solid #888;
    margin: 2px 0;
}

/* /// CANVAS PANEL /// */

.canvas-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid black;

    cursor: crosshair;
}

#new-canvas {
    display: none;
}

/* /// POLYGONS PANEL /// */

.polygons-panel {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    gap: 2%;
}

/* ADDING SECTION */

.adding-btn {
    font-size: 100%;
}

.adding-btn_add {
    font-size: 120%;
}

/* EDGE EDITION SECTION */

.edgeEdition-article {
    margin: 2% 0;
    text-align: center;
}

.thickness-inp {
    width: 20%;
}

/* JSON SECTION */

.json-section {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.json-section * {
    margin: 1% 0;
}

.json-section .line {
    margin: 3% 0;
}

.load-inp {
    width: 100%;;
}

/* /// EDITION PANEL /// */

.edition-panel {
    display: grid;
    grid-template-rows: auto min-content min-content;
    gap: 2%;
}

/* POLYGONS SECTION */

.polygons-section {
    display: grid;
    grid-template-rows: 1fr auto;
}

.polygons-container {
    height: 100%;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    height: 100px;
}

.polygons-btn_polygon {
    font-size: 90%;

    margin: 0 5%;
}

.polygons-btn_cancel {
    font-size: 100%;
}

/* EDITION & RELATION SECTION */

.edition-btn,
.relation-btn {
    font-size: 90%;
}

.relation-btn_equal,
.relation-btn_parallel {
    font-size: 80%;

    margin: 0 5%;

}

.relation-btn_equal span {
    display: inline-block;

    background-color: orange;

    width: 50%;
}

.relation-btn_parallel span {
    display: inline-block;

    background-color: pink;

    width: 50%;
}